h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.news-card{
  padding:1%;
  margin:1%;
}

.save-button{
  width:150px;
  margin:5px;
  align-self: flex-end;
}
 
 .listing {
   height:1000px;
}

@media screen and (min-width:900px)
{
  .row {
      display:flex;
      justify-content: center;
      margin-right:0%;
  }
}
